/* File: custom_styles.css */
button.bp-button-red {
    background-color: rgba(255, 0, 0, 0.8) !important;
    color: black !important;
}

button.bp-button-yellow {
    background-color: rgba(255, 150, 0, 0.8) !important;
    color: black !important;
}

/*.o_control_panel{
    background-color: #8B191E !important;
}*/